
.sidebar {
    // Hide it for phones
    @media (max-width: 768px) {
        display: none;
    }
    flex: 1;
    background-color: var(--color-blue-disney);
    background-color: var(--color-salmon-2);

    // width: 100vw;
    height: 100vh;
    color: var(--color-white-1);
    // max-width: 30rem;


    // FONT
    font-size: 1.2rem;
    // font-family: 'Roboto', sans-serif;
    
    // background-image: linear-gradient(to right bottom, var(--color-blue-disney-1), var(--color-blue-disney));


}

.user-item {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    color: var(--color-grey-medium-1);
}