.errors {

    position: absolute;
    width: 100vw;
    font-size: 1.6rem;
    font-family: Roboto;
}

.error {
    background-color: rgba(255, 59, 20, 0.5);
    color: rgb(65, 3, 3);
    padding: 1.5rem;
    // margin-bottom: 2px;

}