
.content-table {
    border-collapse: collapse;
    color: var(--color-grey-dark-1);
    // margin: 25px 0;
    // font-size: 1.4rem;
    // min-width: 400px;
    font-family: Audiowide;
    // border-radius: 5px 5px 0 0;
    // overflow: hidden;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  }
  
.content-table thead tr {

  background-color: rgba(255, 59, 20, 0.85);
  color: #ffffff;
  text-align: left;
  padding: 20px 20px;

}

.content-table th,
.content-table td {
  padding: 6px 10px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--color-salmon-2);
}

.content-table td:last-of-type {

  padding-right: 2rem;
  padding-left: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}


