.errors {

    position: absolute;
    width: 100vw;
    font-size: 1.4rem;
}

.error {
    background-color: rgba(250, 60, 60, 0.4);
    color: rgb(94, 6, 6);
    padding: 1rem;
    // margin-bottom: 2px;

}