.home {
    background-image: linear-gradient(to right bottom, var(--color-white-1), var(--color-grey-light-1));

    min-height: 100vh;
    color: white;
    display: flex;
}

.sidebar-home {
    background-color: #272522;
    box-shadow: 1rem 0rem 3rem 0rem rgba(0, 0, 0, 0.3);
    font-family: Audiowide;


    flex: 1;
    max-width: 20rem;

    .sidebar-title {
        // text-shadow: 1px 1px 2px red;
        text-shadow: 1px 1px 1rem var(--color-salmon-2);
        color:  var(--color-salmon-2);
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 3rem;
        margin-top: 3rem;
    }

    .ul {
        display: flex;
        flex-direction: column;
        margin: 2rem 1rem 0 1rem;

        .item {
            font-size: 1.4rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-bottom: 2px solid rgba(180, 180, 180, 0.15);
  
            padding: 2rem 4rem;
            &:hover {
                background-color: #464341;
            }
        }
    }
}

.main-home {
    width: 100vw;
    flex: 4;
    display: flex;
    flex-direction: column;


    .item {
        font-size: 1.6rem;
        background-color: #272522;
        margin: 2rem;
        padding: 5rem;
        display: flex;
        align-items: center;
        &:hover {
            background-color: #464341;
        }
    }

    .dashboard-header {
        margin: 5rem auto;
        display: flex;
        // justify-content: space-around;

    }

    .table-container {
        // font-size: 1.6rem;
        margin: 2rem 10rem;
        display: flex;
        flex-direction: column;
    }

    .dashboard {
            background-color: #272522;
            margin: 2rem 10rem;
            display: flex;
            flex-direction: column;

            .item {
                font-size: 1.6rem;
                display: flex;
                align-items: center;
                margin: 1rem;

            }

    }

}
