.modal {

    ///////////////////////////////////
    // Center box in the middle
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;


    // background-color: var(--color-grey-medium-1);
    // opacity: 0.8;
    width: 80rem;
    outline: none;


}