
.content-table {
    border-collapse: collapse;
    color: var(--color-grey-dark-1);
    // margin: 25px 0;
    font-size: 1.4rem;
    min-width: 400px;
    font-family: Audiowide;
    // border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  }
  
.content-table thead tr {
  background-color: #009879;
  background-color: var(--color-salmon-2);
  background-color: var(--color-grey-medium-3);
  background-color: var(--color-red-dark-1);
  background-color: var(--color-salmon);
  background-color: var(--color-salmon-2);
  background-color: rgba(255, 59, 20, 0.9);



  // --color-salmon
  color: #ffffff;
  text-align: left;
  // font-weight: bold;
  padding: 20px 20px;

}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

//   .content-table tbody tr:nth-of-type(even) {
//     background-color: #f3f3f3;
//   }

.content-table tbody tr:last-of-type {
  // border-bottom: 2px solid #009879;
  border-bottom: 2px solid var(--color-salmon-2);
}
.content-table th:last-of-type {
  // border-bottom: 2px solid #009879;
  padding-right: 4rem;
  padding-left: 4rem;
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
  // flex-direction: row;
  width: 2rem;
}
.content-table td:last-of-type {
  // border-bottom: 2px solid #009879;
  // width: 2rem;

  padding-right: 2rem;
  padding-left: 0;
  display: flex;
  align-items: center;
  // justify-content: space-around;
  flex-direction: row;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
  
}
