.endModal {
    font-family: Audiowide;


    color: rgb(186, 141, 250);
    background-color: rgba(17, 21, 25, 0.97);
    width: 30vw;
    outline: none;
    padding: 3rem;
    text-align: center;


    /* max-width: 60rem; */


    /* Center box in the middle */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: 0 auto; */
}

.endModal-green {
    color: rgba(106, 250,137);
    background-color: rgba(17, 21, 25, 0.97);



}

.modal-table {
    margin: 1rem auto;
    

}