.infoPanel {


    display: flex;
    flex-direction: column;
    flex-flow: column wrap; 
    align-content: flex-end; 
    width: 70%;
    margin-right: 1rem;
    font-family: Audiowide;
    font-size: 10px;

}

@media (max-width: 768px) {
.infoPanel{display: none;}

}